@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: var(--font-sofia-sans);
  font-weight: 700;
}

h2{
  font-family: var(--font-sofia-sans);
}

h4 {
  font-family: var(--font-sofia-sans);
  font-weight: 700;
}

h6 {
  font-family: var(--font-sofia-sans);
  font-weight: 600;
}

.glass-box {
  background: rgba(255, 255, 255, 0.835);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-box2 {
  background: rgba(255, 255, 255, 0.2);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.weather-card {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
